<head>
    <link rel="stylesheet" href="~/css/filter.css" />
    <link rel="stylesheet"  href="~/js/site.js" />
</head>

<div class="dropdown navbar-collapse js-navbar-collapse">


    <ul class="nav navbar-nav">
        <li class="dropdown dropdown-large">
            <button type="button" class="btn btn-primary dropdown-toggle"  onclick="btnToggle()">
                Dropdown button
            </button>

            <div id="dropdown" class="container-fluid dropdown-menu dropdown-menu-large">

                <ul class="row">
                    <li class="col-sm dropdown-header">
                        Sort by
                        <ul class="sortby_ul">
                            <li class="sortby_li" >
                                <input type='radio' value='1' name='radio' id='radio1' />
                                <label for='radio1'>Value 1</label>
                            </li>
                            <li class="sortby_li">
                                <input type='radio' value='2' name='radio' id='radio2' />
                                <label for='radio2'>Value 2</label>
                            </li>
                            <li class="sortby_li">
                                <input type='radio' value='3' name='radio' id='radio3' />
                                <label for='radio3'>Value 3</label>
                            </li>
                        </ul>
                    </li>
                    <li class="col-sm dropdown-header">
                        Genre
                    </li>
                    <li class="col-sm dropdown-header">
                        Release
                    </li>
                </ul>








            </div>




        </li>
    </ul>

</div>