@using TMDbLib.Objects.Movies
@model cloudscribe.Pagination.Models.PagedResult<Movie>
@{
    ViewData["Title"] = "SearchMovie";
    ViewData["Controller"] = "Movie";
    ViewData["Action"] = "SearchMovie";
    <link rel="stylesheet" href="~/css/searchmovie.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
}


<div class="searchmovie">
    <h3>SearchMovie </h3>
    <div class="row">
        @foreach (var product in Model.Data)
        {
            <div class="col-sm-5 col-md-3 col-lg-2dot4">
                <img src="@product.PosterPath" />

                <h5>@product.Title</h5>

            </div>



        }

    </div>
    <partial name="_PaginationPartial" model="Model" />
</div>




   



